{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
    <div class="text-center">
        <h1> Bienvenido Ciudadano</h1>
        <p></p>
        <h5>Llena los datos para registrarte</h5>

        {% if messages %}
        <!-- bloque de mensajes -->
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <!-- Formulario de Registro -->
        <form method="POST">
            {% csrf_token %}
            <label for="username"> Nombre de usuario:</label>
            <input type="text" name="username" id="username" required>
            <br>
            <label for="password"> Password</label>
            <input type="password" name="password1" id="password1" required>
            <br>
            <label for="password"> Confirmar Password</label>
            <input type="password" name="password2" id="password2" required>
            <br>
            <label for="email"> Email</label>
            <input type="email" name="email" id="email" required>
            <br>
            <input class="btn-primary" type="submit" value="Registrarse">
        </form>
        
    </div>
</div>
{% endblock %}
