{% load bootstrap4 %}
{% load widget_tweaks %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}Ciudadania Conectada{% endblock %}</title>
    {% bootstrap_css %}
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #003366;">
            <a class="navbar-brand" href="#" style="color: white;">Ciudadanía Conectada</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span class="nav-link" style="color: white;">
                            {% if user.is_authenticated %}
                            <span class="mr-2">Bienvenido: {{ user.username }}</span> <br>
                            <a href="{% url 'cerrarsesion' %}">Cerrar Sesión</a>
                            {% else %}
                            <span class="mr-1.5">No has iniciado sesión</span>

                            {% endif %}
                        </span>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
        {% if messages %}
        <div class="alert alert-danger">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
    
        {% endif %}


        {% bootstrap_javascript %}
    <footer class="piebasehtml" >
        <div class="displayflexbasefooter">
            
            <div class="piebasehtml">
                <img src="{% static 'imagenes/plazachihuahuacentro.jpg' %}" alt="Foto plaza e iglesia de chihuahua centro"
                    style="max-width: 250px; border-radius: 5px;">
            </div>
            <div class="container-fluid text-center">
             <!--   <p class="text-white"> Conectando Ciudadanos, Transformando Gobiernos:
                    <br> Tu Voz, Nuestro Compromiso
                    <br> © {{ year }} Ciudadanía Electrónica. Todos los derechos reservados.-->
                    <br><img src="{% static 'imagenes/ciudadanialogo.jpg' %}" alt="Logo Ciudadanía" style="max-width: 150px; ">
                </p>
            </div>
            <div class="piebasehtml">
                <img src="{% static 'imagenes/plazachihuahuacentro2.jpg' %}" alt="Foto plaza e iglesia de chihuahua centro"
                    style="max-width: 250px; border-radius: 5px">
            </div>
        </div>
    </footer>
  
</body>




</html>